<%- include("partials/header")%>
<%- include("partials/nav")%>

<div  style="margin-top: 13vmax;">
<form action="/updateUser/<%=user._id%>" method="post" class="container w-25 form-control" style="background-color: #b17c98;border: 2px solid rgb(128, 47, 125);box-shadow: 2px 2px 0px  rgb(59, 56, 59);">
    <h4 class="text-center mt-2 fs-2">Edit Details</h4>
    <input
    class="form-control mb-3 mt-3 border-4"
    style="border: 2px solid rgb(93, 45, 81);"
    type="text"
    placeholder="enter name"
    name="username"
    value="<%=user.username%>"
   
/>

<input
class="form-control mb-3 mt-3 border-4" style="border: 2px solid rgb(93, 45, 81);"
type="text"
placeholder="enter email"
name="email"
value="<%=user.email%>"

/>

<button class="btn btn-primary mt-3 mb-3" style="margin-left: 7.1vmax;background-color: #993A7E;border-radius: 5vmax;padding: 1vmax 2vmax;border: none;font-size: 1.5vmax;">Update</button>
</form>


</div>


<%- include("partials/footer")%>

